<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="Pag_Princ_css.css">
    <title> Pagina Proncipala FoSA </title>
  </head>

  <body class="pagina">
    <div class="bara_de_instrumente">
      <a class="active" href="#acasa">Pagina Principală</a>
      <a href="#profil">Profil</a>
      <a href="#help">Help</a>
      <a href="#about">About Us</a>
    </div>
    <input type="text1" placeholder="Căutare avansată">
    <input type="text2" placeholder="Caută...">
    <br><br><br><br><br><br>
    <section>
      <div class="cautare_avansata">
        <u>Căutare avansată</u>
        <br><br>
        <i>Mărimea</i>: 38
        <br>
        <i>Ocazie</i>: Nuntă
        <br>
        <i>Material</i>: Piele
        <br>
        <i>Culori</i>: Galben, Albastru, Alb
        <br>
        <i>Accesorii</i>: Da
      </div>
      <div class="lista_papuci">

        <div class="Nume">
          Nike Aiforce 1 Shado
        </div>
        <img src="https://images.unsplash.com/photo-1595950653106-6c9ebd614d3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" width="50%">
        <div>
          Adidas, Ocazii: Petreceri, Mărimea 38
          <br>
          Culori: Galben, Albastru, Roz Pal, Alb
        </div>
        <br><br>
        <div class="Nume">
          Nike Air Boots
        </div>
        <img src="https://images.unsplash.com/photo-1515555230216-82228b88ea98?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1026&q=80" width="50%">
        <div>
          Ghete, Ocazii: Schi, Drumeții pe munte, Mărimea 39
          <br>
          Culori: Alb, Maro
        </div>

      </div>
    </section>
  </body>

</html>