:root {
    --border: black;
    --background-color: white;
    --main-color: #8ec2ea;
    --dark-blue: #030364;
    --form-color: #8ec2ea;
}

::placeholder {
    color: var(--background-color);
}

@media (max-width: 500px) {
    body {
        background-image: url("../Images/Wallpaper/profile-shoes.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-color: var(--border);
    }

    h1 {
        color: var(--background-color);
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--main-color);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: var(--dark-blue);
    }

    #Profile_Nav {
        width: 100%;
        height: 60px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.6);
        margin: -8px -8px 0 -8px;
        padding: 8px;
    }

    #logo {
        height: 60px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .Button_Nav {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        float: left;
        background-color: var(--background-color);
        border: 2px solid var(--background-color);
        border-radius: 35px;
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.2s;
    }

    .Button_Nav:hover {
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
    }

    #containerProfile, #containerProfileEdit, #containerPasswordEdit {
        background-color: rgba(0, 0, 0, 0.8);
        color: var(--border);
        height: fit-content;
        width: fit-content;
        margin: 25px auto 15px auto;
        padding: 15px;
        border-radius: 30px;
        position: relative;
        justify-content: center;
        text-align: center;


    }

    .info {
        padding: 5px;
        font-size: 20px;
        margin: 5px;
        border-radius: 20px;
        color: var(--background-color);
    }

    .info_type_label {

    }

    .info_label {
        color: var(--main-color);
    }

    #Profile_Image {
        margin: auto;
        display: block;
        width: 100px;
    }

    #edit, #editPassword {
        border: 0;
        border-radius: 30px;
        padding: 0 20px;
        height: 40px;
        transition: 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        font-size: 12px;
        font-weight: bolder;
        color: var(--dark-blue);
        margin: 10px;
    }

    #deleteAccount {
        border: 0;
        border-radius: 30px;
        padding: 0 20px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        font-size: 10px;
        font-weight: bolder;
        color: var(--dark-blue);
        margin-top: 7px;
    }

    #edit_icon, #editPassword_icon, #delete_icon{
        width: 0;
        transition: 0.2s;
    }

    #edit:hover, #editPassword:hover, #deleteAccount:hover{
        background-color: var(--main-color);
        font-weight: bolder;
        color: var(--border);
    }

    #edit:hover #edit_icon , #editPassword:hover #editPassword_icon, #deleteAccount:hover #delete_icon {
        margin: 0 10px 0 -20px;
        width: 30px;
    }

    .editInfo {
        padding: 5px;
        font-size: 30px;
        margin: 5px;
        border-radius: 20px;
        color: var(--background-color);
    }

    .Button_Nav {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .EditInput {
        background-color: var(--form-color);
        border: 2px solid var(--form-color);
        border-radius: 35px;
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
        width: 300px;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
    }

    .Confirm_Button {

        margin: 12px 85px;
    }

    .Button_Edit {
        padding: 5px 20px;
        font-size: 17px;
        font-weight: bolder;
        background-color: var(--background-color);
        border-radius: 35px;
        border: 0 solid var(--background-color);
        text-align: center;
        color: var(--dark-blue);
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Edit:hover {
        color: var(--border);
        background-color: var(--main-color);
        font-weight: bolder;
        border: 0 solid var(--main-color);
    }

    .Cancel_Button {

        margin: 12px 85px;
    }

    .Button_Neg {
        padding: 5px 20px;
        font-size: 17px;
        font-weight: bolder;
        background-color: var(--border);
        border-radius: 35px;
        border: 0 solid var(--border);
        text-align: center;
        color: var(--dark-blue);
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Neg:hover {
        color: var(--border);
        background-color: var(--main-color);
        font-weight: bolder;
        border: 0 solid var(--main-color);
    }
}

@media (max-width: 1023px) and (min-width: 501px) {
    body {
        background-image: url("../Images/Wallpaper/profile-shoes.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-color: var(--border);
    }

    h1 {
        color: var(--background-color);
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--main-color);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: var(--dark-blue);
    }

    #Profile_Nav {
        width: 100%;
        height: 60px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.8);
        margin: -8px -8px 0 -8px;
        padding: 8px;
    }

    #logo {
        height: 60px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .Button_Nav {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        float: left;
        background-color: var(--background-color);
        border: 2px solid var(--background-color);
        border-radius: 35px;
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.2s;
    }

    .Button_Nav:hover {
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
    }

    #containerProfile, #containerProfileEdit, #containerPasswordEdit {
        background-color: rgba(0, 0, 0, 0.8);
        color: var(--border);
        height: fit-content;
        width: fit-content;
        margin: 20px auto 20px auto;
        padding: 20px;
        border-radius: 30px;
        position: relative;
        justify-content: center;
        text-align: center;
    }

    .info {
        padding: 5px;
        font-size: 25px;
        margin: 5px;
        border-radius: 20px;
        color: var(--background-color);
    }

    .info_type_label {

    }

    .info_label {
        color: var(--main-color);
    }

    #Profile_Image {
        margin: auto;
        display: block;
        width: 100px;
    }

    #edit, #editPassword{
        border: 0;
        border-radius: 30px;
        padding: 0 20px;
        height: 50px;
        transition: 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        font-size: 15px;
        font-weight: bolder;
        color: var(--dark-blue);
        margin: 12px;
    }

    #deleteAccount {
        border: 0;
        border-radius: 30px;
        padding: 0 20px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        font-size: 13px;
        font-weight: bolder;
        color: var(--dark-blue);
        margin-top: 5px;
    }

    #edit_icon, #editPassword_icon, #delete_icon{
        width: 0;
        transition: 0.2s;
    }

    #edit:hover, #editPassword:hover, #deleteAccount:hover{
        background-color: var(--main-color);
        font-weight: bolder;
        color: var(--border);
    }

    #edit:hover #edit_icon, #editPassword:hover #editPassword_icon, #deleteAccount:hover #delete_icon {
        margin: 0 10px 0 -20px;
        width: 50px;
    }

    .editInfo {
        padding: 5px;
        font-size: 30px;
        margin: 10px;
        border-radius: 20px;
        color: var(--background-color);
    }

    .EditInput {
        background-color: var(--form-color);
        border: 2px solid var(--form-color);
        border-radius: 35px;
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
        width: 300px;
        margin: 10px;
        padding: 10px;
        font-size: 15px;
    }

    .Confirm_Button {

        margin: 12px 85px;
    }

    .Button_Edit {
        padding: 10px 20px;
        font-size: larger;
        font-weight: bolder;
        background-color: var(--background-color);
        border-radius: 35px;
        border: 0 solid var(--background-color);
        text-align: center;
        color: var(--dark-blue);
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Edit:hover {
        color: var(--border);
        background-color: var(--main-color);
        font-weight: bolder;
        border: 0 solid var(--main-color);
    }

    .Cancel_Button {

        margin: 12px 85px;
    }

    .Button_Neg {
        padding: 10px 20px;
        font-size: larger;
        font-weight: bolder;
        background-color: var(--border);
        border-radius: 35px;
        border: 0 solid var(--border);
        text-align: center;
        color: var(--dark-blue);
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Neg:hover {
        color: var(--border);
        background-color: var(--main-color);
        font-weight: bolder;
        border: 0 solid var(--main-color);
    }


}

@media (min-width: 1024px) {
    body {
        background-image: url("../Images/Wallpaper/profile-shoes.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-color: var(--border);
    }
    background-image
    {
        max-height: 400px;
    }

    h1 {
        color: var(--background-color);
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--main-color);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: var(--dark-blue);
    }

    #Profile_Nav {
        width: 100%;
        height: 60px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.8);
        margin: -8px -8px 0 -8px;
        padding: 8px;
    }

    #logo {
        height: 60px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .Button_Nav {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        float: left;
        background-color: var(--background-color);
        border: 2px solid var(--background-color);
        border-radius: 35px;
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.2s;
    }

    .Button_Nav:hover {
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
    }

    #containerProfile, #containerProfileEdit, #containerPasswordEdit {
        background-color: rgba(0, 0, 0, 0.8);
        color: var(--border);
        height: fit-content;
        width: fit-content;
        margin: 35px auto 35px auto;
        padding: 35px;
        border-radius: 30px;
        position: relative;
        justify-content: center;
        text-align: center;
    }

    .info {
        padding: 5px;
        font-size: 30px;
        margin: 10px;
        border-radius: 20px;
        color: var(--background-color);
    }

    .info_type_label {

    }

    .info_label {
        color: var(--main-color);
    }

    #Profile_Image {
        margin: auto;
        display: block;
        width: 100px;
    }

    #edit, #editPassword {
        border: 0;
        border-radius: 30px;
        padding: 0 20px;
        height: 50px;
        transition: 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        font-size: large;
        font-weight: bolder;
        color: var(--dark-blue);
        margin: 10px;
    }

    #deleteAccount {
        border: 0;
        border-radius: 30px;
        padding: 0 20px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        font-size: large;
        font-weight: bolder;
        color: var(--dark-blue);
        margin-top: 3px;
    }

    #edit_icon, #editPassword_icon, #delete_icon {
        width: 0;
        transition: 0.2s;
    }

    #edit:hover, #editPassword:hover, #deleteAccount:hover {
        background-color: var(--main-color);
        font-weight: bolder;
        color: var(--border);
    }

    #edit:hover #edit_icon, #editPassword:hover #editPassword_icon, #deleteAccount:hover #delete_icon{
        margin: 0 10px 0 -20px;
        width: 50px;
    }

    .editInfo {
        padding: 5px;
        font-size: 30px;
        margin: 15px;
        border-radius: 20px;
        color: var(--background-color);
    }

    .EditInput {
        background-color: var(--form-color);
        border: 2px solid var(--form-color);
        border-radius: 35px;
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
        width: 300px;
        margin: 10px;
        padding: 10px;
        font-size: 15px;
    }

    .Confirm_Button {

        margin: 12px 85px;
    }

    .Button_Edit {
        padding: 10px 20px;
        font-size: larger;
        font-weight: bolder;
        background-color: var(--background-color);
        border-radius: 35px;
        border: 0 solid var(--background-color);
        text-align: center;
        color: var(--dark-blue);
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Edit:hover {
        color: var(--border);
        background-color: var(--main-color);
        font-weight: bolder;
        border: 0 solid var(--main-color);
    }
    .Cancel_Button {

        margin: 12px 85px;
    }

    .Button_Neg {
        padding: 10px 20px;
        font-size: larger;
        font-weight: bolder;
        background-color: var(--border);
        border-radius: 35px;
        border: 0 solid var(--border);
        text-align: center;
        color: var(--dark-blue);
        overflow: hidden;
        transition: 0.3s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Neg:hover {
        color: var(--border);
        background-color: var(--main-color);
        font-weight: bolder;
        border: 0 solid var(--main-color);
    }

}