:root {
    --background-color: white;
    --border: black;
    --menu: rgba(255, 255, 255, 0.8);
    --menu-desktop: rgba(255, 255, 255, 0);
    --main-blue: #3e69a8;
    --dark-blue: #030364;
    --light-blue: #8ec2ea;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--main-blue);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--dark-blue);
}

/* ------------------------- Universal -----------------------------------------------------*/
.heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}


.search-bar button {
    background-color: var(--main-blue);
    color: white;
}

.search-bar button img {
    width: 20px;
}

.search-bar button:hover {
    background-color: #efb889;
    color: white;
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 2rem;
    font-size: 1rem;
    color:#fff;
    background: var(--main-blue);
    cursor: pointer;
    border-radius: 35px;
}

.btn:hover{
    letter-spacing: .2rem;
}

.displayFlex {
    display: flex;
}

.icon {
    width: 0;
    transition: 0.2s;
}

.Label_Nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s;
}

#shoeList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap:1rem;
}

#shoeList .containerShoe{
    text-align: center;
    border:2px solid var(--border);
    padding: 2rem;
    background-color: white;
}

#shoeList .containerShoe #shoeName
{
    font-size: 1.5rem;
}

#shoeList .containerShoe #shoePhoto{
    padding: 1rem 0;
    width: 100%;
    height: 18rem;
}

#shoeList .containerShoe #shoeDetailsButton
{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 2rem;
    font-size: 1rem;
    color:#fff;
    background: var(--main-blue);
    cursor: pointer;
    border-radius: 35px;
}

#shoeList .containerShoe #shoeDetailsButton:hover{
    letter-spacing: .2rem;
}

.filter-section {
    float: left;
    width: 200px;
    padding: 10px;
    background-color: #f1f1f1;
    margin-right: 20px;
    margin-left: -8px;
}

.filter-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.filter-options label {
    display: block;
    margin-bottom: 5px;
}
.filter-options input[type="checkbox"] {
    margin-right: 5px;
}


/* ----------------------------- For mobile -----------------------------------------------------*/

@media (max-width: 500px) {

    .mobile_hidden {
        display: none !important;
    }

    body {
        background-image: url("../Images/Wallpaper/home.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-color: var(--border);
        overflow-x: hidden;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 13px;
    }

    h2 {
        font-weight: normal;
        font-size: 20px;
    }

    h3 {
        font-weight: normal;
        font-size: 15px;
    }

    p {
        font-size: 13px;
    }

    #logo {
        height: 30px;
    }

    #Home_Nav {
        width: 100%;
        height: 30px;
        overflow: hidden;
        background-color: var(--menu);
        margin: -8px -8px 0 -8px;
        padding: 8px;
    }

    #Menu_Container, #Settings_Container {
        overflow: hidden;
        position: absolute;
        top: 46px;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: var(--menu);
        animation-duration: 600ms;
        animation-fill-mode: forwards;
        transform: translateX(100%);
        z-index: 9999;
    }

    .Button_Menu_Container, .Button_Settings_Container {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        white-space: nowrap;
        font-size: 13px;
        background-color: var(--menu);
        border: 1px solid var(--border);
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.2s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Menu_Container:hover, .Button_Settings_Container:hover {
        background-color: var(--main-blue);
        border: 2px solid var(--main-blue);
    }

    .Button_Nav {
        position: relative;
        display: flex;
        align-items: center;
        width: 76px;
        height: 30px;
        float: right;
        white-space: nowrap;
        font-size: 13px;
        background-color: var(--menu);
        border: 2px solid var(--border);
        border-radius: 35px;
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.2s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Nav:hover {
        background-color: var(--main-blue);
        border: 2px solid var(--main-blue);
        width: 100px;
    }

    .Button_Nav:hover .icon {
        width: 24px;
    }

    .Button_Nav:hover .Label_Nav {
        margin-left: 12px;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        left: 30px;
        position: relative;
        margin-top: -33px;
    }

    .search-bar input[type="text"], .search-bar button {
        padding: 2px;
        border: none;
        border-radius: 10px;
    }

    .search-bar input[type="text"] {
        width: 35%;
    }

    @keyframes OpenMenu {
        0% {
            transform: translateX(100%);
            visibility: hidden;
        }
        1% {
            visibility: visible
        }
        100% {
            transform: translateX(0%);
            visibility: visible;
        }
    }

    @keyframes CloseMenu {
        0% {
            transform: translateX(0%);
            visibility: visible;
        }
        99% {
            visibility: visible
        }
        100% {
            transform: translateX(100%);
            visibility: hidden;
        }
    }
    #containerHome {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        max-width: 400px;
        max-height: 200px;
        background-color: var(--menu);
        border-radius: 30px;
        color: var(--border);
        border: 1px solid rgb(255, 255, 255);
        padding: 20px;
        text-align: center;
        font-family: Georgia, serif;
    }

}

/* ------------------------------- For tablet -----------------------------------------------------*/

@media (max-width: 1024px) and (min-width: 501px) {

    .tablet_hidden {
        display: none !important;
    }

    body {
        background-image: url("../Images/Wallpaper/home.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-color: var(--border);
        overflow-x: hidden;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 15px;
    }

    h2 {
        font-weight: normal;
        font-size: 25px;
    }

    h3 {
        font-weight: normal;
        font-size: 17px;
    }


    p {
        font-size: 15px;
    }

    #logo {
        margin-top: 5px;
        height: 40px;
    }

    #Home_Nav {
        width: 100%;
        height: 50px;
        overflow: hidden;
        background-color: var(--menu);
        margin: -8px -8px 0 -8px;
        padding: 8px;
    }


    #Menu_Container {
        overflow: hidden;
        position: absolute;
        top: 66px;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: var(--menu);
        animation-duration: 600ms;
        animation-fill-mode: forwards;
        transform: translateX(100%);
        z-index: 9999;
    }

    .Button_Menu_Container {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        white-space: nowrap;
        font-size: 13px;
        background-color: var(--menu);
        border: 1px solid var(--border);
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.2s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Menu_Container:hover {
        background-color: var(--main-blue);
        border: 2px solid var(--main-blue);
    }

    .Button_Nav {
        position: relative;
        display: flex;
        align-items: center;
        width: 90px;
        height: 50px;
        float: right;
        white-space: nowrap;
        font-size: 15px;
        background-color: var(--menu);
        border: 2px solid var(--border);;
        border-radius: 35px;
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.2s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Nav:hover {
        background-color: var(--main-blue);
        border: 2px solid var(--main-blue);
        width: 120px;
    }

    .Button_Menu_Container:hover {
        background-color: var(--main-blue);
        border: 2px solid var(--main-blue);
    }

    .Button_Nav:hover .icon {
        width: 30px;
    }

    .Button_Nav:hover .Label_Nav {
        margin-left: 15px;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        left: 40px;
        position: relative;
        margin-top: -45px;
    }

    .search-bar input[type="text"], .search-bar button {
        padding: 5px;
        border: none;
        border-radius: 10px;
    }

    .search-bar input[type="text"] {
        width: 25%;
    }

    @keyframes OpenMenu {
        0% {
            transform: translateX(100%);
            visibility: hidden;
        }
        1% {
            visibility: visible
        }
        100% {
            transform: translateX(0%);
            visibility: visible;
        }
    }


    @keyframes CloseMenu {
        0% {
            transform: translateX(0%);
            visibility: visible;
        }
        99% {
            visibility: visible
        }
        100% {
            transform: translateX(100%);
            visibility: hidden;
        }
    }
    #containerHome {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        max-width: 600px;
        max-height: 300px;
        background-color: var(--menu);
        color: var(--border);
        border-radius: 30px;
        border: 1px solid rgb(255, 255, 255);
        padding: 20px;
        text-align: center;
        font-family: Georgia, serif;
    }

}

/* ---------------------------------------- For desktop -----------------------------------------------------*/

@media (min-width: 1024px) {

    .desktop_hidden {
        display: none !important;
    }

    body {
        background-image: url("../Images/Wallpaper/home.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top center;
        height: 440px;
        overflow-x: hidden;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 40px;
    }

    h2 {
        font-weight: normal;
        font-size: 45px;
    }

    h3 {
        font-weight: normal;
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    #logo {
        height: 60px;
    }

    #Home_Nav {
        width: 100%;
        height: 60px;
        overflow: hidden;
        background-color: var(--menu);
        margin: -8px -8px 0 -8px;
        padding: 8px;
    }


    #Menu_Container {
        overflow: hidden;
        position: absolute;
        top: 75px;
        right: 0;
        width: 30%;
        height: 100%;
        background-color: var(--menu);
        animation-duration: 600ms;
        animation-fill-mode: forwards;
        transform: translateX(100%);
        z-index: 9999;
    }

    .Button_Menu_Container {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        white-space: nowrap;
        font-size: 17px;
        background-color: var(--menu);
        border: 1px solid var(--border);
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.2s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Menu_Container:hover {
        background-color: var(--main-blue);
        border: 2px solid var(--main-blue);
    }

    .Button_Nav {
        position: relative;
        display: flex;
        align-items: center;
        width: 150px;
        height: 60px;
        float: right;
        white-space: nowrap;
        font-size: 19px;
        background-color: var(--menu);
        border: 2px solid var(--border);;
        border-radius: 35px;
        text-align: center;
        color: var(--border);
        overflow: hidden;
        transition: 0.2s;
        font-family: 'Anonymous Pro', monospace;
    }

    .Button_Nav:hover {
        background-color: var(--main-blue);
        border: 2px solid var(--main-blue);
        width: 200px;
    }

    .Button_Menu_Container:hover {
        background-color: var(--main-blue);
        border: 2px solid var(--main-blue);
    }

    .Button_Nav:hover .icon {
        width: 50px;
    }

    .Button_Nav:hover .Label_Nav {
        margin-left: 15px;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        left: 50px;
        position: relative;
        margin-top: -55px;
    }

    .search-bar input[type="text"], .search-bar button {
        padding: 10px;
        border: none;
        border-radius: 10px;
    }

    .search-bar input[type="text"] {
        width: 35%;
    }


    @keyframes OpenMenu {
        0% {
            transform: translateX(100%);
            visibility: hidden;
        }
        1% {
            visibility: visible
        }
        100% {
            transform: translateX(0%);
            visibility: visible;
        }
    }

    @keyframes CloseMenu {
        0% {
            transform: translateX(0%);
            visibility: visible;
        }
        99% {
            visibility: visible
        }
        100% {
            transform: translateX(100%);
            visibility: hidden;
        }
    }
    #containerHome {
        position: absolute;
        margin-top: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        max-width: 1000px;
        max-height: 500px;
        color: var(--border);
        background-color: var(--menu);
        border-radius: 30px;
        border: 1px solid rgb(255, 255, 255);
        padding: 20px;
        text-align: center;
        font-family: Georgia, serif;
    }
}