<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<header>
    <nav id="Home_Nav">
        <img src="../Images/Logo/sneakers.png" alt="Logo" id="logo" onclick="openHomeContainer(0);">
        <button class="Button_Nav" id="fav" style="visibility: visible; float: right; width: 60px; display: flex; justify-content: center; align-items: center">
            <a href="favorite.html"><img src="../Images/Icons/heart.png" style="width: 30px; margin-top: 5px" class="icon" alt="favorite"></a>
        </button>
        <button class="Button_Nav" id="menu" onclick="menu();">
            <img src="../Images/Icons/Menu.png" class="icon" alt="Menu">
            <span class="Label_Nav">Menu</span>
        </button>
        <div class="search-bar">
            <input id="searchTerm" type="text" placeholder="Search...">
            <button type="submit"
                    onclick="window.location.href = 'shoes.html?search=' + document.getElementById('searchTerm').value;">
                <img src="../Images/Icons/Search.png" alt="Search">
            </button>
        </div>
    </nav>
    <div id="Menu_Container" style="visibility: hidden;">
        <button class="Button_Menu_Container" id="shoes" onclick="openHomeContainer(4);">
            <span class="Label_Nav">Shoe Collection</span>
        </button>
        <button class="Button_Menu_Container" id="news" onclick="openHomeContainer(1);">
            <span class="Label_Nav">Delivery information</span>
        </button>
        <button class="Button_Menu_Container" id="profile">
            <span class="Label_Nav">Profile</span>
        </button>
        <button class="Button_Menu_Container" id="about" onclick="openHomeContainer(3);">
            <span class="Label_Nav">About</span>
        </button>
        <button class="Button_Menu_Container" id="contactContainer" onclick="openHomeContainer(2);">
            <span class="Label_Nav">Contact</span>
        </button>
        <button class="Button_Menu_Container" id="logoutContainer" onclick="logout();">
            <span class="Label_Nav">Logout</span>
        </button>
    </div>
</header>
<div id="content">
    <section id="containerHome">
        <h2> WELCOME TO FOOTWEAR SMART ASSISTANT</h2>
        <h3>STEP INTO STYLE AND COMFORT WITH OUR FABULOUS SHOE COLLECTION! </h3>
    </section>
    <section id="containerAbout" style="display: none">
        <div class="center-side stripedTemplate">
            <div class="top"></div>
            <div class="primaryBox">
                About
            </div>
            <div class="bottom"></div>
        </div>
        <div class="left-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>&emsp; Welcome to our shoes site, where fashion meets comfort! We are dedicated to providing you with
                    a wide range of stylish and high-quality footwear that not only looks great but also feels amazing
                    to wear. Our collection is carefully curated to cater to all tastes and preferences, ensuring that
                    you can find the perfect pair of shoes for any occasion.</p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="right-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>&emsp; At our shoes site, we understand that everyone has their unique style and footwear needs.
                    Whether you're looking for trendy sneakers, elegant heels, cozy boots, or practical sandals, we have
                    something for everyone. We work with reputable brands and designers to bring you the latest trends
                    and timeless classics, ensuring that you can find the perfect pair to complete your outfit.</p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="left-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>&emsp;We prioritize comfort just as much as style, which is why our shoes are crafted with the utmost
                    care and attention to detail. We believe that you shouldn't have to sacrifice comfort for fashion,
                    so we strive to offer shoes that provide excellent support and cushioning, allowing you to stay on
                    your feet all day without any discomfort.</p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
    </section>

    <section id="containerContact" style="display: none">
        <div class="center-side stripedTemplate" style="margin-bottom: 30px; ">
            <div class="top"></div>
            <div class="primaryBox">
                Contact
            </div>
            <div class="bottom"></div>
        </div>
        <div class="left-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p> Contact Us: <br>
                    We value your feedback and are here to assist you. If you have any questions, concerns, or
                    suggestions, please don't hesitate to get in touch with us. Here's how you can reach us:<br><br>

                    <b>Phone:</b> <br>
                    &emsp; You can reach us by phone at (0712) 345-678 during our regular business hours. Our friendly
                    staff
                    will be happy to assist you with any questions you may have. <br><br>

                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="right-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    <b>Email:</b> <br>
                    &emsp; If you prefer to reach us via email, you can do so at shoe.contact@gmail.com. Our team
                    will
                    make sure to respond to your email as soon as possible. <br><br>

                    <b>Address:</b> <br>
                    &emsp; If you would like to visit us in person, you can find us at:<br>
                    &emsp; Hopkins Corner 108B<br>
                    &emsp; Iași, 700068
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
    </section>
    <section id="containerNews" style="display: none">
        <div class="center-side stripedTemplate">
            <div class="top"></div>
            <div class="primaryBox">
                Delivery Information
            </div>
            <div class="bottom"></div>
        </div>
        <div class="left-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    We understand the excitement of receiving your new shoes promptly, and we strive to ensure a
                    seamless and efficient delivery process. Here's some important information about our delivery
                    services:

                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="right-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    Shipping Options: We offer various shipping options to accommodate your needs. During the checkout
                    process, you can select your preferred shipping method based on the estimated delivery time and
                    cost.
                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="left-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    Processing Time: Once your order is placed, our team works diligently to process and prepare it for
                    shipment. Most orders are processed within 1-2 business days, excluding weekends and holidays.
                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="right-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    Shipping Time: The shipping time depends on your location and the chosen shipping method. We partner
                    with reliable shipping carriers to provide timely and secure deliveries. Please note that shipping
                    times may vary during peak seasons and due to unforeseen circumstances beyond our control.
                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="left-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    Tracking: To keep you informed about the progress of your order, we provide a tracking number as
                    soon as your package is shipped. You can use this tracking number to monitor the status and
                    estimated delivery date of your shipment.
                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="right-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    International Shipping: We offer international shipping to select countries. Please note that
                    additional customs fees, taxes, and duties may apply depending on your location. It's essential to
                    familiarize yourself with your country's customs regulations before placing an international order.
                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="left-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    Returns and Exchanges: If, for any reason, you need to return or exchange your shoes, please refer
                    to our return policy for detailed instructions. We strive to make the process as smooth as possible
                    to ensure your satisfaction.
                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
    </section>
    <section id="containerServices" style="display: none">
        <div class="center-side stripedTemplate">
            <div class="top"></div>
            <div class="primaryBox">
                Services
            </div>
            <div class="bottom"></div>
        </div>
        <div class="left-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    We are dedicated to providing you with the best experience possible during your visit to our zoo.
                    Below
                    are some of the services we offer to make your visit even more enjoyable:
                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="right-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    1. <b>Animal Feeding Schedule: </b> We provide a feeding schedule for all the animals in the zoo.
                    This
                    schedule includes the times the animals are fed and what type of food they receive. This will give
                    you
                    an opportunity to see the animals in their natural habitat and learn about their diets.
                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="left-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    2. <b> Guided Tours: </b> We offer guided tours for visitors who want a more personalized
                    experience.
                    Our experienced guides will take you through the zoo, showing you all the different animal exhibits
                    and
                    answering any questions you may have. Our tours can be tailored to meet the specific needs and
                    interests
                    of your group.
                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="right-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    3. <b> Animal Encounters: </b> We offer unique and interactive animal encounters for visitors who
                    want a
                    hands-on experience. These encounters include opportunities to feed and pet certain animals. Our
                    trained
                    animal handlers will guide you through these encounters and ensure your safety. </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="left-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    4. <b> Educational Programs: </b> We offer educational programs for visitors of all ages. These
                    programs
                    are designed to teach visitors about animal conservation, animal behavior, and animal habitats. Our
                    programs include guided tours, animal encounters, and classroom-style presentations. </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="right-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    5 <b> Dining Options:</b> We have a variety of dining options available for our visitors. Our cafes
                    offer a variety of food options, including vegetarian and vegan options. We also have picnic areas
                    throughout the zoo for visitors who prefer to bring their own food.
                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
        <div class="left-side stripedTemplate">
            <div class="top"></div>
            <div class="top upperMiddle"></div>
            <div class="primaryBox">
                <p>
                    6. <b> Souvenir Shop: </b> Our souvenir shop offers a variety of gifts and memorabilia to help you
                    remember your visit to our zoo. We offer a range of products, including clothing, stuffed animals,
                    and
                    other souvenirs.
                </p>
            </div>
            <div class="bottom lowerMiddle"></div>
            <div class="bottom"></div>
        </div>
    </section>
</div>
<script src="../js/script.js"></script>
<script src="../js/shoes.js"></script>
</body>
</html>
