<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<header>
    <nav id="navHome">
        <img src="../Images/Logo/sneakers.png" id="logo" onclick="openIndexContainer(0);" alt="logo">
        <button class="Button_Nav" id="create" onclick="openIndexContainer(2);">
            <img src="../Images/Icons/SignUp.png" class="icon" alt="SignUp">
            <span class="Label_Nav">SIGN UP</span>
        </button>
        <button class="Button_Nav" id="login" onclick="openIndexContainer(1);">
            <img src="../Images/Icons/LogIn.png" class="icon" alt="Login">
            <span class="Label_Nav">LOGIN</span>
        </button>
    </nav>
</header>
<section id="containerHome">
    <h2> WELCOME TO FOOTWEAR SMART ASSISTANT </h2>
    <h3>STEP INTO STYLE AND COMFORT WITH OUR FABULOUS SHOE COLLECTION! </h3>
</section>

<section id="containerCreate" style="display: none">
    <h2>CREATE A NEW ACCOUNT</h2>
    <form class="signup" method="post">
        <input type="text" name="FirstName" placeholder="FIRST NAME" class="CreateInput"> <br>
        <input type="text" name="LastName" placeholder="LAST NAME" class="CreateInput"> <br>
        <input type="text" name="Username" placeholder="USERNAME" class="CreateInput"> <br>
        <input type="text" name="Email" placeholder="EMAIL" class="CreateInput"> <br>
        <input type="password" name="Password1" placeholder="PASSWORD" class="CreateInput"> <br>
        <input type="password" name="Password2" placeholder="REPEAT PASSWORD" class="CreateInput"> <br>
        <input type="text" name="Birth" placeholder="DATE OF BIRTH (DD/MM/YYYY)" class="CreateInput"> <br>
        <div class="error" style="display: none;"></div>
        <input type="submit" value="CREATE NEW ACCOUNT" class="Create_Button Button_Form"> <br>
        <input type="reset" value="CLEAR" class="Clear_Button Button_Form">
        <input type="button" value="LOGIN" onclick="openIndexContainer(1);" class="Login_Button Button_Form">
    </form>
</section>
<section id="containerLogin" style="display: none">
    <h2>LOGIN TO AN EXISTING ACCOUNT</h2>
    <form class="login" method="post">
        <input type="text" name="UsernameEmail" placeholder="USERNAME / EMAIL" class="LoginInput"> <br>
        <input type="password" name="Password" placeholder="PASSWORD" class="LoginInput"> <br>
        <div class="error" style="display: none;"></div>
        <input type="submit" value="LOGIN" class="Login_Button Button_Form"> <br>
        <input type="button" value="FORGOT MY PASSWORD" onclick="openIndexContainer(3);"
               class="Forgot_Button Button_Form">
        <input type="button" value="CREATE NEW ACCOUNT" onclick="openIndexContainer(2);"
               class="Create_Button Button_Form">
    </form>
</section>
<section id="containerForgot" style="display: none">
    <h2>FORGOT MY PASSWORD</h2>
    <form class="forgotPassword" method="post">
        <input type="text" name="UsernameEmail" placeholder="USERNAME / EMAIL" class="ForgotInput"> <br>
        <input type="submit" value="SEND CODE TO EMAIL" class="Create_Button Button_Form"> <br>
    </form>
</section>
<script src="../js/index.js"></script>
</body>
</html>