<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/profile.css">
</head>
<body>
<header>
    <nav id="Profile_Nav">
        <button class="Button_Nav" id="home" style="visibility: visible; float: left;">
            <a href="home.html"><img src="../Images/Icons/homepage-icon.png" style="width: 30px" class="icon"></a>
        </button>
        <button class="Button_Nav" id="back" style="visibility: hidden; float: left;"
                onclick="openProfileContainer(0);">
            <img src="../Images/Icons/Back.png" class="icon">
        </button>
        <button id="deleteAccount" onclick="deleteProfile();" style=" float: right;">
            <img src="../Images/Icons/Close2.png" id="delete_icon" class="icon" alt="DELETE">
            <span>DELETE ACCOUNT</span>
        </button>
    </nav>
</header>
<section id="containerProfile">
    <div class="info">
        <img id="Profile_Image" alt="Profile_image">
        <span id= "username">USERNAME</span>
    </div>
    <br>
    <div class="info">
        <label class="info_type_label">FIRST NAME: </label>
        <label id= "firstName" class="info_label">FIRST NAME</label>
    </div>
    <br>
    <div class="info">
        <label class="info_type_label">LAST NAME: </label>
        <label id= "lastName" class="info_label">LAST NAME</label>
    </div>
    <br>
    <div class="info">
        <label class="info_type_label">EMAIL: </label>
        <label id= "email" class="info_label">EMAIL</label>
    </div>
    <br>
    <div class="info">
        <label class="info_type_label">DATE OF BIRTH: </label>
        <label id= "dateOfBirth" class="info_label">DATE OF BIRTH</label>
    </div>
    <br>
    <button id="edit" onclick="openProfileContainer(1);">
        <img src="../Images/Icons/Edit.png" id="edit_icon" class="icon" alt="Edit">
        <span>EDIT PROFILE</span>
    </button>
    <button id="editPassword" onclick="openProfileContainer(2);">
        <img src="../Images/Icons/Edit.png" id="editPassword_icon" class="icon" alt="Edit_Password">
        <span>EDIT PASSWORD</span>
    </button>
</section>

<section id="containerProfileEdit" style="display: none">
    <h1>EDIT YOUR PROFILE</h1>
    <form id="editForm">
        <div class="editInfo">
            <input type="text" name="PhotoURL" placeholder="PHOTO URL" class="EditInput"> <br>
        </div>
        <div class="editInfo">
            <input type="text" name="FirstName" placeholder="FIRST NAME" class="EditInput"> <br>
        </div>
        <div class="editInfo">
            <input type="text" name="LastName" placeholder="LAST NAME" class="EditInput"> <br>
        </div>
        <div class="editInfo">
            <input type="text" name="Username" placeholder="USERNAME" class="EditInput"> <br>
        </div>
        <div class="editInfo">
            <input type="text" name="DateOfBirth" placeholder="DATE OF BIRTH" class="EditInput"> <br>
        </div>
        <div onclick="sendEditProfile();">
            <input type="submit" value="CONFIRM" class="Confirm_Button Button_Edit"> <br>
        </div>
        <div onclick="openProfileContainer(0);">
            <input type="submit" value="CANCEL" class="Cancel_Button Button_Neg"> <br>
        </div>
    </form>
</section>


<section id="containerPasswordEdit" style="display: none">
    <h1>EDIT YOUR PASSWORD</h1>
    <form id="editPass">
        <div class="editInfo">
            <input type="password" name="OldPassword" placeholder="OLD PASSWORD" class="editInfo EditInput"> <br>
        </div>
        <div class="editInfo">
            <input type="password" name="NewPassword" placeholder="NEW PASSWORD" class="editInfo EditInput"> <br>
        </div>
        <div class="editInfo">
            <input type="password" name="ConfirmPassword" placeholder="CONFIRM NEW PASSWORD" class="editInfo EditInput">
            <br>
        </div>
        <div onclick="sendEditPassword();">
            <input type="submit" value="CONFIRM" class="Confirm_Button Button_Edit"> <br>
        </div>
        <div onclick="openProfileContainer(0);">
            <input type="submit" value="CANCEL" class="Cancel_Button Button_Neg"> <br>
        </div>
    </form>
</section>

<script src="../js/profile.js"></script>
</body>
</html>