*{
    margin: 0;
    padding: 0;
}

.pagina{
     width: 100%;
     height: 100vh; 
     background-image: linear-gradient(#7dd8e9 20%, #5973e7 40%);
}

.bara_de_instrumente{
    background-color: #0e028e;
    overflow: hidden;
}

.bara_de_instrumente a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    width: 22.6%;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bara_de_instrumente a.active {
    background-color: #35bae361;
    color: white;
}

.ajutor{
     width: 350px;
     height: 400px;
     position: absolute;

     top: 40%;
     left: 20%;
     transform: translate(-50%, -50%);
}

.accordion{
    background-color: #b0e4f0;
    color: #bee8f1;
    cursor: pointer;
    padding: 18px;
    width: 200%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel{
    padding: 0 18px;
    display: none;
    background-color: #96e4f6;
    overflow: hidden;
}  

.ajutor{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}