.pagina {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#7dd8e9 20%, #5973e7 40%);
}


/* Add a black background color to the top navigation */
.bara_de_instrumente {
  background-color: #0e028e;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.bara_de_instrumente a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 22.6%;
}

/* Add a color to the active/current link */
.bara_de_instrumente a.active {
  background-color: #35bae361;
  color: white;
}

/* Change the color of links on hover */
.bara_de_instrumente a:hover {
  background-color: #35bae348;
  color: black;
}

section {
  display: -webkit-flex;
  display: flex;
}

input[type=text1] {
  float: left;
  display: block;
  text-align: center;
  width: 20%;
  margin: 0;
  padding: 14px;
}

.cautare_avansata {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: left;
  display: block;
  text-align: left;
  width: 20%;
  margin: 0;
  padding: 14px;
  background-color: #35bae348;
  color: black;
}


input[type=text2] {
  float: right;
  display: block;
  text-align: center;
  width: 70%;
  margin: 0;
  padding: 14px;
}

.lista_papuci {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  float: right;
  display: block;
  text-align: center;
  width: 75%;
  margin: 0;
  padding: 14px;
  color: white;
}

input[type=text1],
input[type=text2] {
  border: 1px solid #ccc;
}

.Nume {
  font-size: 25px;
}