*{
    margin: 0;
    padding: 0;
}

.pagina{
     width: 100%;
     height: 100vh; 
     background-image: linear-gradient(#7dd8e9 20%, #5973e7 40%);
}

.bara_de_instrumente{
    background-color: #0e028e;
    overflow: hidden;
}

.bara_de_instrumente a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    width: 22.6%;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bara_de_instrumente a.active {
    background-color: #35bae361;
    color: white;
}

.bara_de_instrumente a:hover {
    background-color: #35bae348;
    color: black;
}

.profilul_unui_utilizator{
     width: 350px;
     height: 400px;
     position: absolute;
     top: 40%;
     left: 20%;
     transform: translate(-50%, -50%);

}
/*
.informatii_utilizator{
    position: absolute;
    right: 0;
    margin: -5px;
    max-width: 900px;
    padding: 100px;
    background-color: white;
  }
  */
